.appWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.appWrapper h1 {
  display: flex;
  align-items: center;
  gap: 4px;
}

.appWrapper h1 a {
  display: flex;
  align-items: center;
  color: inherit;
}


@media only screen and (min-width: 768px) {
  .appWrapper {
    gap: 32px;
  }
}