.contactList {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 16px;
  align-items: stretch; 
}

/* @media only screen and (min-width: 768px) {
  .contactList {
    flex-direction: row;
    flex-basis: auto;
  }
} */